asgiref==3.4.1
attrs==21.2.0
backports.entry-points-selectable==1.1.1
distlib==0.3.4
Django==4.0
filelock==3.4.0
jupyter-core==4.9.1
nest-asyncio==1.5.4
parso==0.8.3
platformdirs==2.4.0
pybuilder==0.13.3
pyparsing==3.0.6
pyrsistent==0.18.0
python-dateutil==2.8.2
pywin32==302
pyzmq==22.3.0
six==1.16.0
sqlparse==0.4.2
tornado==6.1
traitlets==5.1.1
tzdata==2021.5
virtualenv==20.10.0
wcwidth==0.2.5
